* {
  background-color: rgb(160, 131, 92);
}

section {
  /* margin: 50px; */
}

header {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid grey;
  position: fixed;
  width: 100%;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.hChild {
  margin: 5px 25px;
}

#cFilled {
  display: none;
}

.proSec {
  /* border: 1px solid red; */
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.product {
  display: flex;
  max-width: 322px;
  min-height: 340px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.product img {
  object-fit: contain;
}

.pro-title {
  font-size: 20px;
}

.display {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.leftFilter {
  /* border: 1px solid red; */
  width: 20%;
}

.priceFilter {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
}

.priceFilter input {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.tag {
  user-select: none;
}

.radio {
  display: flex;
}

.radio label {
  width: 150px;
}

.radio input {
  size: 10px;
  height: 15px;
  /* margin-right: 5px; */
  font-size: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* border: 1px solid red; */
  margin: 20px 10px;
  padding: 10px 15px;
}

.pagination h4 {
  border-bottom: 2px solid black;
}

#pagePrev {
  /* border: none; */
  /* background-color: grey; */
  pointer-events: none;
}

.cartMain {
  display: none;
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
}

.cartClose {
  position: fixed;
  font-size: 25px;
  top: 5px;
  right: 10px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 2px;
}

.cartContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 95%;
}

.cartList {
  
}